*, *::after, *::before {
   box-sizing:  border-box;
   margin: 0;
   padding: 0;
}

$rb-color-0:rgb(255,0,0);
$rb-color-24:rgb(244,102,0);
$rb-color-48:rgb(255,205,0);
$rb-color-72:rgb(205,255,0);
$rb-color-96:rgb(102,255,0);
$rb-color-120:rgb(0,255,0);
$rb-color-144:rgb(0,255,102);
$rb-color-168:rgb(0,255,205);
$rb-color-192:rgb(0,205,255);
$rb-color-216:rgb(0,102,255);
$rb-color-240:rgb(0,0,255);
$rb-color-264:rgb(102,0,255);
$rb-color-288:rgb(205,0,255);
$rb-color-312:rgb(255,0,205);
$rb-color-336:rgb(255,0,102);
$rb-color-360:rgb(255,0,0);


 .main-div{
   display:  flex;
   width:  100%;
   height:  100vh;
   background-color:  rgba(0, 0, 0, 0.749);
   align-items:  center;
   justify-content:  center;
   .animation-Wrapper{
     display: flex;
     flex-direction:  column;
     width: 80%;
     height: 84vh;
     background-color:  rgba(0, 0, 0, 0.700);
     .span-row-1{
        opacity:0;
        display:  flex;
        width: 100%;
        height: 14vh;
        align-items:  center;
        justify-content:  center;
        background-color:  rgba(0, 0, 0, 0.608);
        transition: all 300ms;
        gap: 0%;
     span{
       width: 6.5%;
       height: 80%;
       background-color: aquamarine;
       border-radius: 0%;
}
}
}
}
.span-1{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 100ms;
}
.span-2{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 200ms;
}
.span-3{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 300ms;
}
.span-4{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 400ms;
}
.span-5{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 500ms;
}
.span-6{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 600ms;
}
.span-7{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 700ms;
}
.span-8{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 800ms;
}
.span-9{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 900ms;
}
.span-10{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1000ms;
}
.span-11{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1100ms;
}
.span-12{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1200ms;
}
.span-13{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1300ms;
}
.span-14{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1400ms;
}
.span-15{
  animation: anima-1 5s infinite linear forwards,
  anima-2 6s infinite linear forwards;
  animation-delay: 1500ms;
}


 @keyframes anima-1{
  0%{transform: rotate(0deg)}
  33%{height: 1%; border-radius: 1%; transform: rotate(360deg)}
  66%{height: 1%; width: 1%; opacity: .1; transform: rotate(720deg); border-radius: 50%}
  100%{transform: rotate(1080deg);}
}


 //anima-1tion 2//

 .span-row-2{
  opacity: 0;
  display: flex;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.608);
  gap: 0%;
  animation: gap 7s infinite linear forwards;
  span{
   width: 6.5%;
   height: 80%;
   background-color: aquamarine;
   border-radius: 0%;
}
}

.span-II-1{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 0ms;
}
.span-II-2{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 100ms;
}
.span-II-3{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 200ms;
}
.span-II-4{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 300ms;
}
.span-II-5{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 400ms;
}
.span-II-6{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 500ms;
}
.span-II-7{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 600ms;
}
.span-II-8{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 700ms;
}
.span-II-9{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 800ms;
}
.span-II-10{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 900ms;
}
.span-II-11{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 1000ms;
}
.span-II-12{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 1100ms;
}
.span-II-13{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 1200ms;
}
.span-II-14{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 1300ms;
}
.span-II-15{
  animation: anima-2 5s infinite linear forwards,
       sqweez 6s infinite linear forwards;
  animation-delay: 1400ms;
}

@keyframes anima-2{
  0%{background-color: violet;}
  14%{background-color: red;}
  28%{background-color: orange;}
  42%{background-color: yellow;}
  56%{background-color: green;}
  71%{background-color: blue;}
  85%{background-color: indigo;}
  100%{background-color: violet;}
}
@keyframes sqweez{
  0% {}
  14%{width: 6%}
  28%{width: 3%}
  42%{width: 2%}
  56%{width: 0}
  71%{width: 2%}
  85%{width: 4%}
  100%{}
}  
@keyframes gap{
  0%{gap: 0;}
  25%{gap: 0}
  50%{gap: 1%}
  75%{gap: 0;}
  100%{gap: 0;}
}

//ANIMATION III//
.span-row-3{
  opacity: 0;
  display: flex;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.608);
  gap: 0%;
  span{
   position: absolute;
   left: 11%;
   width: 5%;
   height: 5%;
   background-color: aquamarine;
   border-radius: 50%;
}
}
.span-III-1{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 0ms;
}
.span-III-2{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 200ms;
}
.span-III-3{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 400ms;
}
.span-III-4{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 600ms;
}
.span-III-5{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 800ms;
}
.span-III-6{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 1000ms;
}
.span-III-7{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 1200ms;
}
.span-III-8{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 1400ms;
}
.span-III-9{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 1600ms;
}
.span-III-10{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 18000ms;
}
.span-III-11{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 2000ms;
}
.span-III-12{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 2200ms;
}
.span-III-13{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 2400ms;
}
.span-III-14{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 2600ms;
}
.span-III-15{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 2800ms;
}
.span-III-16{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 3000ms;
}
.span-III-17{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 3200ms;
}
.span-III-18{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 3400ms;
}
.span-III-19{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 3600ms;
}
.span-III-20{
  animation: left-right 5s infinite linear forwards;
  animation-delay: 3800ms;
}

@keyframes left-right {

  0%{margin-left: 0%; opacity: 0.9;}

  25%{margin-left: 37%; background-color: #53a78b; opacity: 0.7; width: 2%; height: 2%; z-index: 0; transform: translateY(40px);}

  50%{margin-left: 74%; background-color: rgb(97, 192, 160); opacity: 0.8; width: 4%; height: 4%; z-index: 0;}

  75%{margin-left: 37%; background-color: rgb(181, 255, 230); opacity: 1; width: 6%; height: 6%; z-index: 1; transform: translateY(-40px)}

  100%{margin-left: 0%; opacity: 0.9;}
}

//ANIMATION 4//
.span-row-4{
  opacity: 0;
  display: flex;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.608);
  gap: 0%;
  span{
   position: absolute;
   left: 8.55%;
   width: 79.9%;
   height: 1px;
}}
.span-IV-1{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:000ms;background-color:rgb(0,255,0);}
.span-IV-2{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:188ms;background-color:rgb(255,0,205);}
.span-IV-3{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:376ms;background-color:rgb(0,102,255);}
.span-IV-4{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:564ms;background-color:rgb(255,0,102);}
.span-IV-5{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:752ms;background-color:rgb(244,102,0);}
.span-IV-6{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:940ms;background-color:rgb(255,0,0);}
.span-IV-7{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:1128ms;background-color:rgb(255,205,0);}
.span-IV-8{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:1316ms;background-color:rgb(0,0,255);}
.span-IV-9{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:1504ms;background-color:rgb(102,255,0);}
.span-IV-10{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:1692ms;background-color:rgb(255,0,0);}
.span-IV-11{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:1880ms;background-color:rgb(205,0,255);}
.span-IV-12{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:2068ms;background-color:rgb(0,255,102);}
.span-IV-13{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:2256ms;background-color:rgb(0,255,205);}
.span-IV-14{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:2444ms;background-color:rgb(102,0,255);}
.span-IV-15{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:2632ms;background-color:rgb(205,255,0);}
.span-IV-16{animation:netflix 2820ms infinite linear forwards, width 5000ms infinite linear forwards;animation-delay:2820ms;background-color:rgb(0,205,255);}

   

@keyframes netflix{
    0% {z-index: 30;}
    50%{height: 60px; z-index: 20;}
    100% {height: 120px; z-index: 10; opacity: 0;}
  }
@keyframes width{
  0%{width:79.9%}
  25%{width: 60%}
  50%{width:40%; background-color: white;}
  75%{width: 20%}
  100%{width: 1%;}
}

//ANIMATION 5//
.span-row-5{
  opacity: 0;
  display: flex;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.608);
  gap: 1%;
  span{
   width: 2%;
   height: 10%;
   background-color: aquamarine;
   border-radius: 10%;
}
}
.span-V-1{animation:acceleration 4500ms infinite forwards;animation-delay:0ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-2{animation:acceleration 4500ms infinite forwards;animation-delay:300ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-3{animation:acceleration 4500ms infinite forwards;animation-delay:600ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-4{animation:acceleration 4500ms infinite forwards;animation-delay:900ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-5{animation:acceleration 4500ms infinite forwards;animation-delay:1200ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-6{animation:acceleration 4500ms infinite forwards;animation-delay:1500ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-7{animation:acceleration 4500ms infinite forwards;animation-delay:1800ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-8{animation:acceleration 4500ms infinite forwards;animation-delay:2100ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-9{animation:acceleration 4500ms infinite forwards;animation-delay:2400ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-10{animation:acceleration 4500ms infinite forwards;animation-delay:2700ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-11{animation:acceleration 4500ms infinite forwards;animation-delay:3000ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-12{animation:acceleration 4500ms infinite forwards;animation-delay:3300ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-13{animation:acceleration 4500ms infinite forwards;animation-delay:3600ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-14{animation:acceleration 4500ms infinite forwards;animation-delay:3900ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-15{animation:acceleration 4500ms infinite forwards;animation-delay:4200ms;animation-timing-function:cubic-bezier(1,2,3,4);}
.span-V-16{animation:acceleration 4500ms infinite forwards;animation-delay:4500ms;animation-timing-function:cubic-bezier(1,2,3,4);}





@keyframes acceleration{
  0%{transform:rotate(-90deg); background-color: #ff0000;}
  33%{transform:rotate(180deg); background-color: #53a3a7;}
  66%{transform:rotate(180deg);background-color: #53a78b;}
  100%{transform:rotate(-90deg);background-color: #ff0303;}
}

//IV animation//
.span-row-6{
  opacity: 0;
  display: flex;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.608);
  gap: 0%;
  span{
    display: flex;
    align-items: center;
    width: 6.5%;
    height: 80%;
    background-color: transparent;
    border-radius: 0%;
    font-size: x-large;
    color: black;
}
}
.span-VI-1{animation:comingSoon 6400ms infinite linear forwards;animation-delay:0ms;}
.span-VI-2{animation:comingSoon 6400ms infinite linear forwards;animation-delay:200ms;}
.span-VI-3{animation:comingSoon 6400ms infinite linear forwards;animation-delay:400ms;}
.span-VI-4{animation:comingSoon 6400ms infinite linear forwards;animation-delay:600ms;}
.span-VI-5{animation:comingSoon 6400ms infinite linear forwards;animation-delay:800ms;}
.span-VI-6{animation:comingSoon 6400ms infinite linear forwards;animation-delay:1000ms;}
.span-VI-7{animation:comingSoon 6400ms infinite linear forwards;animation-delay:1200ms;}
.span-VI-8{animation:comingSoon 6400ms infinite linear forwards;animation-delay:1400ms;}
.span-VI-9{animation:comingSoon 6400ms infinite linear forwards;animation-delay:1600ms;}
.span-VI-10{animation:comingSoon 6400ms infinite linear forwards;animation-delay:1800ms;}
.span-VI-11{animation:comingSoon 6400ms infinite linear forwards;animation-delay:2000ms;}
.span-VI-12{animation:comingSoon 6400ms infinite linear forwards;animation-delay:2200ms;}
.span-VI-13{animation:comingSoon 6400ms infinite linear forwards;animation-delay:2400ms;}
.span-VI-14{animation:comingSoon 6400ms infinite linear forwards;animation-delay:2600ms;}
.span-VI-15{animation:comingSoon 6400ms infinite linear forwards;animation-delay:2800ms;}
.span-VI-16{animation:comingSoon 6400ms infinite linear forwards;animation-delay:3000ms;}
.span-VI-17{animation:comingSoon 6400ms infinite linear forwards;animation-delay:3200ms;}

img{width:40%}

@keyframes comingSoon{
  0%{color:$rb-color-0;}
  7%{color:$rb-color-24;}
  13%{color:$rb-color-48;}
  20%{color:$rb-color-72; width:7%}
  26%{color:$rb-color-96;}
  33%{color:$rb-color-120; transform: rotate(180deg);}
  40%{color:$rb-color-144;  transform: rotate(360deg)}
  46%{color:$rb-color-168;}
  53%{color:$rb-color-192; width: 3%;}
  59%{color:$rb-color-216;}
  66%{color:$rb-color-240;}
  73%{color:$rb-color-264;}
  79%{color:$rb-color-288;}
  86%{color:$rb-color-312; width:7%}
  92%{color:$rb-color-336;}
  100%{color:$rb-color-360;}
}




.buttons-div{
  display:flex;
  flex-direction: column;
  position: relative;
  left: 1%;
  height: 70vh;
  width: 3%;
  align-items: center;
  justify-content: space-between;
  button{
    position:relative;
    left:.5%;
    width:100%;
    height: 20px;
    border-radius: 30%;
    border: 2px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}
#but1:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}
#but2:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}
#but3:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}
#but4:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}
#but5:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}
#but6:hover{
  animation: buttonFlick 150ms linear infinite forwards;
}

@keyframes buttonFlick{
  0%{border: 2px solid green;}
  50%{border: 2px solid greenyellow;}
  100%{border: 2px solid green;}
}

#but1.activated{background-color: greenyellow;}
#but2.activated{background-color: greenyellow;}
#but3.activated{background-color: greenyellow;}
#but4.activated{background-color: greenyellow;}
#but5.activated{background-color: greenyellow;}
#but6.activated{background-color: greenyellow;}





#spanRow1.visible{
  opacity:1;
}
#spanRow2.visible{
  opacity:1;
}
#spanRow3.visible{
  opacity:1;
}
#spanRow4.visible{
  opacity:1;
}
#spanRow5.visible{
  opacity:1;
}
#spanRow6.visible{
  opacity:1;
}
